<form class="login-form">
<h1>Welcome to Easy Raid-Finder</h1>
<p>Login with Battle.net to join or make a raid..</p>
<input type="Submit" value="Secure Login" ng-click="login()"></input>
</form>

<form class="bad-login">
	<p class="epic-fail">Epic fail User</p>
		Username<input type="text" />
		Password<input type="text" />
	<input type="Submit">
</form>
<button ng-click="getCharacters()">get characters</button>
<button></button>
<img src="https://us.api.battle.net/wow/character/chogall/Animator?fields=appearance&locale=en_US&apikey=ew7sw57ke7f3rygybsy2vtdq8gz6cpmb
">
