h1 {
	margin: 0 auto;
}

p {
	margin: 0;
}

body {
	margin: 0;
	background: url("https://wallpaperscraft.com/image/wow_cataclysm_world_of_warcraft_battle_warcraft_36596_3840x2160.jpg"), #000;
	
	background-size: 100%;
	background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  color: #efefef;
}

.login-form {
	margin-left: 50px;
	margin-top: 20px;
	padding: 10px 20px;
	background-color: rgba(255, 255, 255, 0.4);
	display: inline-block;
	border-radius: 10px;
}

.login-form input {
	margin-left: 340px;
	border-radius: 5px;
	padding: 5px;
	color: #f0f;
}

.epic-fail {
	color: #fff;
}

.bad-login {
	margin-left: 50px;
	margin-top: 20px;
	padding: 10px 20px;
	background-color: rgba(255, 255, 255, 0.4);
	display: block;
	width: 250px;
	border-radius: 10px;
}

.main {
	text-align: center;
	color: red;
}
