<div id='join-raid'>
  <p>You are joining a raid for <{{raidToJoin.name}}></p>
  <form>
    <div id="role">
      <label for="role">Role: </label>
      <select name="role" ng-model="raidToJoin.role">
        <option ng-repeat="r in ['Tank', 'DPS', 'Healer']">{{r}}</option>
      </select>
      <span ng-if="emptyFormField && !raidToJoin.role" class="form-error">Please shoose a role.</span>
    </div> <!-- role -->
    <div id="char-info" class="clearfix">
      <div id="display-left">
        <label for="pick-character">Pick a Character:</label>
        <select name="pick-character" 
                data-ng-attr-size="{{realmsData[selectedRealm].length}}" 
                ng-model="$parent.selectedCharacter" 
                ng-change="updateCharacter('joinRaidPost')">
          <option ng-repeat="n in realmsData[selectedRealm]" value="{{n.name}}">{{n.name}}</option>
        </select>
      </div>
      <div id="display-right">
        <img ng-src="{{raidToJoin.character.classImg}}" >
        <p id="charClass">{{raidToJoin.character.class}}</p>
        <p id="charStats" ng-show="selectedCharacter"> Lvl: {{raidToJoin.character.level}} | {{raidToJoin.character.race}} | {{raidToJoin.character.gender}}</p>
      </div>
    </div>
    <button  id="create-raid" type="submit" ng-click="verifyForm('joinRaidPost')">Join</button>
  </form>
</div>