
<div id="raids-found">
  <p>These are the raids found for <{{selectedRealm}}></p>
  <button  id="create-new-raid" ng-click="changeDisplay('create raid post')">Create New Raid</button>
  <div id='table-container'>
    <table>
      <thead>
        <tr>
          <th class="headings">Raid Name</th>
          <th class="headings">Time & Date</th>
          <th class="headings">Who's going</th>
          <th class="headings">Needing</th>
        </tr>
      </thead>
      <tbody>
        <tr raidpost></tr>
      </tbody>
    </table>
  </div> <!-- table-container -->
</div>




