<div id="title-container">
  <h1 id="title">Welcome {{user}}</h1>
</div>
<div id="app-logo">
  <img src="../images/easyLogo.png" alt="app logo">
</div>
<div id="left">
  <img src="../images/wowLogo.png" alt="World of Warcraft Logo">
</div>

<div id="right" >
  <form name="myForm">
    <label for="singleSelect"> Current Realm: </label>
    <select name="singleSelect" ng-model="selectedRealm" ng-change="getRealmData(selectedRealm)">
      <option ng-repeat="(realm, chars) in realmsData" value="{{realm}}">{{realm}}</option>
    </select>
  </form>
</div>

<!-- switch directives depending on user choice -->
<div ng-switch on="whatToDisplay">
  <div ng-switch-when="get started" getstarted></div>
  <div ng-switch-when="posts found" postsfound></div>
  <div ng-switch-when="no posts found" nopostsfound></div>
  <div ng-switch-when="join raid post" joinraidpost></div>
  <div ng-switch-when="create raid post" createraidpost></div>
</div>
<whosgoingoverlay></whosgoingoverlay>








