<tr ng-repeat="post in posts" id="post-row">
  <td id="rName">{{post.raidName}}</td>
  <td id="rTime">{{post.raidDate}}<br> @ {{post.raidTime}} (ST)</td>
  <td id="rGoing">
    <span id='clickToSee' 
          ng-click="showWhosGoingFunc($event)" 
          post="{{post}}"> ({{post.whosGoing.length}}) have joined<br>Click to see
    </span>
  </td>
  <td id="rNeeds">Feature not Implemented</td>
  <td id="rJoin"><span id="raid-join-button" ng-click="joinRaid($event)" post="{{post}}">Join</span></td>
</tr>