h1 {
	margin: 0 auto;
}

p {
	margin: 0;
}

body {
	margin: 0;
	background: url("https://wallpaperscraft.com/image/wow_cataclysm_world_of_warcraft_battle_warcraft_36596_3840x2160.jpg"), #000;
	
	background-size: 100%;
	background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  color: #efefef;
}

.login-form {
	margin-left: 50px;
	margin-top: 20px;
	padding: 10px 20px;
	background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #FF794B;
	display: inline-block;
	border-radius: 10px;
}

.login-form input {
	display: inline-block;
	float: right;
	position: relative;
	margin-top: 30px;
	margin-bottom: 10px;
	border-radius: 40px;
	background-color: #FF794B;
	padding: 5px 10px;
	font-size: 16px;
	font-weight: bolder;
	color: #222;
	border: none;
	cursor: pointer;
	box-shadow: 0 6px #bF693B;
}

.login-form input:hover {
	box-shadow: 0 4px #bF693B;
	top: 2px;
}

#credentials {
	display: block;
	margin: 0 auto 0;
	padding: 40px 200px;
	background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #FF794B;
	border-radius: 10px;
	letter-spacing: 4px;
}